@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --hackcountrybg: #D6D2C3;
  --hackstatusbg: #C4D6C3;
  --hackunactivestatusbg: #E3ABAB;
  --listelcolor: #D2C8D4;
  --purplbg: #65558f;
  --purplbgactive: #463a64;
  --linkunactivecolor: #CFCFCF;
  --linkactivecolor: #FFFFFF;
  --white: #ffffff;
  --listbg: #E1DAE3;
  --scrollbg: #E1DAE3;
  --scrollcolor: #ddc9e3;
  --black: #181818;
  --bg: #ffffff;
  --borderhead: #dbdbdb;
  --img: 0;
  --bgopacity: 1;
  --elhover: #dbdbdb;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg);
}

#app {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.over_body {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./imgs/bg 1.svg");
  background-size: 100% auto;
  background-repeat: repeat;
  background-position: center center;
  z-index: -1;
  opacity: var(--bgopacity);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 20px;
  padding: 6px 0 0 6px;
  width: 20%;
}

.switch_theme {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 16px 0 0 6px;
  width: 15%;
}

.ul {
  padding: 0 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  all: unset;
  font-family: Inter;
  color: var(--black);
}

h1 {
  all: unset;
  font-family: Inter;
  color: var(--black);
}

h2 {
  all: unset;
  font-family: Inter;
  color: var(--black);
}

.text-h2 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}

.text-h1 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
}

.text-16 {
  font-family: Inter;
  font-size: 16px;
}

.account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--bg);
  border-radius: 20px;
  border: 1px solid var(--borderhead);
  padding: 0 7px 0 2px;
}
.account__text {
  width: auto;
}

nav {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 178px;
  width: 205px;
  background-color: var(--purplbg);
  border-radius: 5px;
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  margin: 0 0 0 17px;
}

.nav_el {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 10px;
  height: 100px;
  color: var(--linkunactivecolor);
}

.arrow {
  position: absolute;
  height: 100px;
}
.arrow__1 {
  top: 21px;
  left: 18px;
}
.arrow__2 {
  top: 69px;
  left: 18px;
}
.arrow__3 {
  top: 115px;
  left: 18px;
}

.arrow2 {
  position: absolute;
  height: 100px;
}
.arrow2__1 {
  top: 21px;
  left: 18px;
}
.arrow2__2 {
  top: 69px;
  left: 18px;
}
.arrow2__3 {
  top: 115px;
  left: 18px;
}

.router-link-active {
  color: var(--linkactivecolor);
}

.list_container {
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 15px 0 0 0;
  width: 98%;
  height: 94%;
  border-radius: 10px;
}
.list_container::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
.list_container::-webkit-scrollbar-track {
  background-color: var(--scrollbg);
}
.list_container::-webkit-scrollbar-thumb {
  background-color: var(--scrollcolor);
  border-radius: 20px;
  border: 0;
}
.list_container__user {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 15px 0 0 0;
  width: 98%;
  height: 94%;
  border-radius: 10px;
}
.list_container__user::-webkit-scrollbar {
  width: 6px;
  border-radius: 10px;
}
.list_container__user::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0);
}
.list_container__user::-webkit-scrollbar-thumb {
  background-color: var(--scrollcolor);
  border-radius: 20px;
  border: 0;
}

input {
  all: unset;
  position: relative;
  top: 25px;
  left: 38px;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  color: var(--black);
  margin: 0;
  width: 391px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  position: relative;
  background-color: var(--listbg);
  border-radius: 10px;
  width: 450px;
  height: 56px;
  margin: 0 10px 0 0;
}
.input__small {
  width: 240px;
}
.input__text {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  color: var(--black);
  margin: 0;
}
.input__img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  right: 10px;
  filter: invert(var(--img));
  cursor: pointer;
}
.input__prev_img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 9px;
  filter: invert(var(--img));
}
.input__select {
  position: relative;
  top: 25px;
  left: 38px;
  font-size: 16px;
}

.noicon_shift__input {
  position: relative;
  top: 25px;
  left: 18px;
}
.noicon_shift__text {
  position: absolute;
  top: 10px;
  left: 18px;
}
.noicon_shift__img {
  position: absolute;
  top: 16px;
  right: 10px;
  filter: invert(var(--img));
}
.noicon_shift__select {
  position: relative;
  top: 25px;
  left: 18px;
}

.btn {
  all: unset;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: Inter;
  color: var(--white);
  font-size: 16px;
  width: 148px;
  height: 50px;
  border-radius: 20px;
  background-color: var(--purplbg);
  cursor: pointer;
}
.btn:active {
  background-color: var(--purplbgactive);
}

.custom-select {
  position: relative;
  width: 420px;
  font-family: Inter;
  color: var(--black);
}

.selected {
  padding: 1px 1px 1px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected .arrow {
  transition: transform 0.3s;
}

.select-img {
  position: absolute;
  right: 3px;
  top: -5px;
  filter: invert(var(--img));
}

.selected .arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  position: absolute;
  width: 100%;
  border: 1px solid var(--borderhead);
  border-radius: 10px;
  background-color: var(--bg);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 10px;
}

.dropdown li:hover {
  background-color: #b8b8b8;
  border-radius: 10px;
}

.dropdown li.active {
  background-color: var(--hackstatusbg);
  border-radius: 10px;
}

.theme_switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 134px;
}
.theme_switch__bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg);
  border-radius: 20px;
  border: 1px solid var(--borderhead);
  width: 110px;
  height: 45px;
}
.theme_switch__empty {
  width: 110px;
}
.theme_switch__empty2 {
  width: 10px;
}

.switcher {
  width: 56px;
  height: 34px;
  background-color: var(--switcherbg);
  border-radius: 25px;
}
.switcher__round {
  position: relative;
  left: 29px;
  top: 5px;
  transform: translate(0, 0);
}

.sun_icon {
  width: 28px;
  height: 28px;
  filter: invert(var(--img));
}

.moon_icon {
  opacity: 0;
  position: fixed;
  width: 30px;
  height: 30px;
  filter: invert(var(--img));
}

.load_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

.input_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  height: 100%;
}
.input_container__small {
  gap: 9%;
}
.input_container__profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7%;
  width: 100%;
  height: 100%;
}

.load_img {
  animation: load_img 1s infinite;
  filter: invert(var(--img));
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  filter: invert(var(--img));
  top: 0;
  left: 95px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.img_color {
  filter: invert(var(--img));
}

.white {
  color: var(--white);
}

.search {
  width: 65%;
}

.pointer {
  cursor: pointer;
}

.modal-h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  font-family: Inter;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.page_swap-enter-active, .page_swap-leave-active {
  animation: load_page 0.5s;
}

.page_swap-enter-from, .page_swap-leave-to {
  animation: swap_page 0.3s;
}

.right-enter-active, .right-leave-active {
  animation: right_load_page 0.7s;
}

.right-enter-from, .right-leave-to {
  animation: right_swap_page 0.7s;
}

.left-enter-active, .left-leave-active {
  animation: left_load_page 0.7s;
}

.left-enter-from, .left-leave-to {
  animation: left_swap_page 0.7s;
}

.switch_animate_on {
  animation: 0.3s switcher;
  transform: translate(-26px, 0);
}

.switch_animate_off {
  animation: 0.3s switcher_reverse;
  transform: translate(0, 0);
}

.sun_on {
  animation: 0.3s sun_left_animation;
  transform: translate(0, 0);
  opacity: 1;
}

.sun_off {
  transform: translate(30px, 0);
  opacity: 0;
}

.moon_on {
  animation: 0.3s moon_left_animation;
  transform: translate(-32px, 0);
  opacity: 1;
}

.moon_off {
  transform: translate(30px, 0);
  opacity: 0;
}

@keyframes load_img {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes switcher {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-26px, 0);
  }
}
@keyframes switcher_reverse {
  0% {
    transform: translate(-26px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes sun_left_animation {
  0% {
    transform: translate(30px, 0);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes moon_left_animation {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translate(-32px, 0);
    opacity: 1;
  }
}
@keyframes load_page {
  0% {
    transform: translate(-80px, 0);
    opacity: 0.3;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes swap_page {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(80px, 0);
    opacity: 0.3;
  }
}
@keyframes right_load_page {
  0% {
    transform: translate(-100px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes right_swap_page {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100px, 0);
    opacity: 0.5;
  }
}
@keyframes left_load_page {
  0% {
    transform: translate(100px, 0);
    opacity: 0.5;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes left_swap_page {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, 0);
    opacity: 0.5;
  }
}
.hackaton_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
  height: 100%;
}
.hackaton_main__adder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hackaton_main__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 15px 0 0 0;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  background-color: var(--listbg);
}

.user_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
  height: 100%;
}
.user_main__adder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.user_main__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 15px 0 0 0;
  width: 90%;
  height: 94%;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.055) inset;
  overflow-y: auto;
}
.user_main__body__small {
  height: 70%;
}

.users_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 50%;
  height: 100%;
}
.users_main__adder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.users_main__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 15px 0 0 0;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  background-color: var(--listbg);
}

.steck_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 50%;
  height: 100%;
}
.steck_main__adder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.steck_main__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  padding: 15px 0 0 0;
  width: 90%;
  height: 70%;
  border-radius: 10px;
  background-color: var(--listbg);
}
.steck_main__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 100%;
  width: 72%;
}
.steck_main__search {
  width: 330px;
}
.steck_main__empty {
  width: 12%;
}
.steck_main__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
}
.steck_main__link__img {
  width: 60px;
  height: 92px;
  filter: invert(var(--img));
}

.list-el {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 95%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--listelcolor);
  color: var(--black);
  font-family: Inter;
}
.list-el__country {
  border-radius: 10px;
  padding: 1px 6px;
  background-color: var(--hackcountrybg);
}
.list-el__status {
  border-radius: 10px;
  padding: 1px 6px;
  background-color: var(--hackstatusbg);
}

.list-status {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 210px;
}

.red {
  background-color: var(--hackunactivestatusbg);
}

.add_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  background-color: var(--purplbg);
  cursor: pointer;
}
.add_btn:active {
  background-color: var(--purplbgactive);
}
.add_btn__mini {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--purplbg);
  cursor: pointer;
}
.add_btn__mini:active {
  background-color: var(--purplbgactive);
}

.adder__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.5176470588);
}
.adder__form {
  position: absolute;
  top: 27%;
  left: 28%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 46%;
  height: 62%;
  border-radius: 10px;
  background-color: var(--bg);
}

.stack-selector {
  position: relative;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: var(--inputbg);
  width: 450px;
  height: 110px;
  border-radius: 10px;
  margin: 0 10px 0 0;
  color: var(--black);
}

.selected-stacks {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: absolute;
  top: 30px;
  left: 18px;
}

.stack-item {
  background-color: var(--purplbg);
  border-radius: 20px;
  color: var(--white);
  width: auto;
  padding: 0 9px 2px 9px;
  height: 27px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-button {
  background-color: transparent;
  color: var(--black);
  border: none;
  font-size: 23px;
  cursor: pointer;
}

.stack-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  top: -200px;
  left: 50px;
  width: 310px;
  background-color: var(--bg);
  padding: 0 0 0 10px;
  border: 1px solid var(--borderhead);
  border-radius: 10px;
}

.stack-option {
  all: unset;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  width: 240px;
}

.stack-option:last-child {
  border-bottom: none;
}

.stack-option:hover {
  background: var(--elhover);
  border-radius: 10px;
}

@media screen and (max-width: 525px) {
  html {
    background-color: var(--bg);
  }
  #app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .over_body {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("./imgs/bg 1.svg");
    background-size: 100% auto;
    background-repeat: repeat;
    background-position: center center;
    z-index: -1;
    opacity: var(--bgopacity);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding: 6px 0 0 6px;
    width: 100%;
    height: 15%;
  }
  .switch_theme {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 15%;
    height: 10%;
    top: -3px;
    right: 30px;
  }
  nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 89%;
    background-color: var(--purplbg);
    border-radius: 5px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 0 17px;
  }
  .nav_el {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: left;
    gap: 10px;
    height: 22px;
    width: 340px;
    color: var(--linkunactivecolor);
  }
  .arrow {
    position: absolute;
    height: 20px;
  }
  .arrow__1 {
    left: 31px;
    top: 10px;
  }
  .arrow__2 {
    left: 148px;
    top: 10px;
  }
  .arrow__3 {
    left: 274px;
    top: 10px;
  }
  .arrow2 {
    position: absolute;
    height: 20px;
  }
  .arrow2__1 {
    left: 31px;
    top: 10px;
  }
  .arrow2__2 {
    left: 128px;
    top: 10px;
  }
  .arrow2__3 {
    left: 240px;
    top: 10px;
  }
  .hackaton_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
  }
  .hackaton_main__adder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .hackaton_main__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 15px 0 0 0;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--listbg);
  }
  .users_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
  }
  .users_main__adder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .users_main__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 15px 0 0 0;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--listbg);
  }
  .steck_main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 100%;
  }
  .steck_main__adder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .steck_main__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 15px 0 0 0;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--listbg);
  }
  .steck_main__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 100%;
    width: 92%;
  }
  .steck_main__empty {
    width: 2%;
  }
  .steck_main__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12%;
  }
  .steck_main__link__img {
    width: 60px;
    height: 92px;
    filter: invert(var(--img));
  }
  .stack-selector {
    width: 270px;
  }
  .stack-options {
    padding: 0 0 0 2px;
    top: -200px;
    left: -27px;
    width: 332px;
  }
  .user_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 95%;
    height: 100%;
  }
  .user_main__adder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .user_main__body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    padding: 15px 0 0 0;
    width: 95%;
    height: 88%;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.055) inset;
  }
  .input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
  }
  .input_container__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    height: 100%;
  }
  input {
    all: unset;
    position: relative;
    top: 25px;
    left: 38px;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    color: var(--black);
    margin: 0;
    width: 270px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .input {
    position: relative;
    background-color: var(--listbg);
    border-radius: 10px;
    width: 280px;
    height: 56px;
    margin: 0 10px 0 0;
  }
  .input__text {
    position: absolute;
    top: 10px;
    left: 38px;
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    color: var(--black);
    margin: 0;
  }
  .input__img {
    display: none;
  }
  .input__prev_img {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 16px;
    left: 9px;
    filter: invert(var(--img));
  }
  .input__select {
    position: relative;
    top: 25px;
    left: 38px;
    font-size: 16px;
  }
  .noicon_shift__input {
    position: relative;
    top: 25px;
    left: 18px;
  }
  .noicon_shift__text {
    position: absolute;
    top: 10px;
    left: 18px;
  }
  .noicon_shift__img {
    position: absolute;
    top: 16px;
    right: 10px;
    filter: invert(var(--img));
  }
  .noicon_shift__select {
    position: relative;
    top: 25px;
    left: 18px;
  }
  .steck_main__search {
    width: 250px;
  }
  .adder__form {
    position: absolute;
    top: 27%;
    left: 2%;
    width: 96%;
    height: 52%;
  }
  .text-h2 {
    font-size: 26px;
  }
  .text-h1 {
    font-size: 28px;
  }
  .list-el-hackaton {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    width: 95%;
    height: 70px;
    border-radius: 10px;
    background-color: var(--listelcolor);
    color: var(--black);
    font-family: Inter;
  }
  .list-el-hackaton__country {
    border-radius: 10px;
    padding: 1px 6px;
    background-color: var(--hackcountrybg);
  }
  .list-el-hackaton__status {
    border-radius: 10px;
    padding: 1px 6px;
    background-color: var(--hackstatusbg);
  }
}
@media screen and (max-width: 395px) {
  .arrow {
    position: absolute;
    height: 20px;
  }
  .arrow__1 {
    left: 16px;
    top: 10px;
  }
  .arrow__2 {
    left: 130px;
    top: 10px;
  }
  .arrow__3 {
    left: 258px;
    top: 10px;
  }
  .arrow2 {
    position: absolute;
    height: 20px;
  }
  .arrow2__1 {
    left: 16px;
    top: 10px;
  }
  .arrow2__2 {
    left: 110px;
    top: 10px;
  }
  .arrow2__3 {
    left: 222px;
    top: 10px;
  }
}/*# sourceMappingURL=style.css.map */